@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }


/* #######################################################################

	Open Page

####################################################################### */
 
 
body {
  background-color: rgba(255, 255, 255, 0.822);
  height:100%
}

html {
  scroll-behavior: smooth;
  height:100%;
}

#s1 {
  height: 100vh;
  justify-content: center;
  align-items: center;

}

h1 {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#s1 {
  text-align:center;
  color:rgb(230, 230, 230);
  font-family:'Roboto';
  font-weight:300;
  font-size:42px;
  overflow:hidden;
  backface-visibility: hidden;
  perspective: 1000;
}

.title {
  margin-top:30vh;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  margin-bottom: 50px;
}

.title:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

.title:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.title:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:630px;}
  80% {opacity:1;}
  100% {opacity:0;width:630px;}
}

.btn {
  position: relative;
  padding: 12px 12px 10px;
  border-color: rgb(134, 133, 133);
  background: transparent;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 1.2s ease-in-out;
  font-size: 20px;
  margin-top: 15px;
}

.gitImage {
  position: relative;
  width: 2.5%;
  left: 150px; 
  bottom: 55px; 
}

i:hover {
  animation: pulse 0.2s 2 both;
}

@keyframes loading {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}

@keyframes change-icon {
0% {
  color: transparent;
}

100% {
  color: #fff;
}
}

@keyframes pulse {
from {
  transform: scale3d(1, 1, 1);
}

50% {
  transform: scale3d(1.05, 1.05, 1.05);
}

to {
  transform: scale3d(1, 1, 1);
}
}


/* #######################################################################

	About

####################################################################### */
      
#s2 {
  height: 100vh;
}

h2 {
  color: rgb(206, 202, 200); 
  font-size: 55px;
  font-family: sans-serif
}

.header1 {
  color: rgb(0, 0, 0); 
  font-size: 30px;
  font-family: sans-serif;
  text-align: left;
}

.main {
  text-align: center;
  margin: 10px;
  /* margin-left: 250px;
  margin-right: 250px; */
  font-size: calc(10px + 1.5vw);
  color:  rgb(206, 202, 200);
}

.about-flex {
  padding-left: 30%;
  padding-right: 30%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap
}

.about-item {
  padding: 5px;
  height: 150px;
  margin-top: 250px;
  font-size: calc(30px + 1.5vw);
  color:  rgb(206, 202, 200);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.about-flex > hr {
  width: 100%;
  margin-top: 10px;
  display: none;
}

.text {
  text-align: center;
  font-size: calc(30px + 1.5vw);
  color:  rgb(206, 202, 200);
  margin: 50px;
}

.about-item:hover {
  font-size: calc(45px + 1.5vw);
  transition: width 2s;
}
    
/* #######################################################################

	Work

####################################################################### */


#s3 {
  height: 100vh;
}

.c {
  padding-top: 98px;
}

.work-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgb(206, 202, 200);
  font-family: sans-serif;
  padding-left: 30%;
  padding-right: 20%;
  padding-top: 50px;
  text-shadow: 0 2px 0 rgba(110,133,156,0.18);
}

.work-head {
  text-align: center;
  width: 100%;
  font-size: calc(40px + 1.5vw);
}
#work-item {
  font-size: calc(5px + 1.5vw);
  padding: 0.85em;
  display: none;
}

li img {
  margin-top: 50px;
  width: 30%;
}

li:hover img {
  width: 50%;
  transition: ease-in-out 250ms;
}

/* #######################################################################

  Contact

####################################################################### */

#s4 {
  height: 100vh;
}

div.d {
flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin: 250px;
  color: rgb(206, 202, 200);
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 200px;
}

/* #######################################################################

	Navigation Bar

####################################################################### */

.flex-container2 {
  justify-content: space-between;
  background-color: rgb(218, 218, 218);
}

.header {
  position: fixed;
  align-items:stretch;
  /* overflow-y: scroll; */
  width: 250px;
  height: 100%;
  left: 35vh;
}

.author-img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.flex-container2 > li {
  width: 100px;
  margin: 10px;
  margin-right: 50px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

.flex-container2 > li:hover {
  background-color:rgba(179, 172, 172, 0.822)
}

ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  text-transform: none; 
  font-family: serif
}

li b {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: none; 
  font-family: serif
}

div.a {
  text-align: center;
  color: rgb(216, 212, 210);
  font-size: 30px;
  padding-top:98px;
  font-family: sans-serif
}

a:hover {
  color: white;
}

a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(168, 167, 167);
  position: relative;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

a:hover::before {
  width: 100%;
}

.active {
  background-color: rgb(0, 26, 255);
}

.description {
  text-align: center;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color:  rgb(134, 134, 134);
  margin-bottom: 2em;
}

.name {
  text-align: center;
  width: 100%;
  font-size: 22px;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 700;
  line-height: 1.1;
  color:  rgb(0, 0, 0);
  margin-bottom: 1em;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color:white
}