/* #######################################################################

	Open Page

####################################################################### */
 
 
body {
  background-color: rgba(0, 0, 0, 0.822);
  height:100%
}

html {
  scroll-behavior: smooth;
  height:100%;
}

#s1 {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#s1 {
  text-align:center;
  color:rgb(230, 230, 230);
  font-family:'Roboto';
  font-weight:300;
  font-size:42px;
  overflow:hidden;
  backface-visibility: hidden;
  perspective: 1000;

}

.title {
  margin-top:40vh;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.title:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

.title:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.title:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:630px;}
  80% {opacity:1;}
  100% {opacity:0;width:630px;}
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* #######################################################################

	About

####################################################################### */
      
#s2 {
  height: 100vh;
}

h2 {
  color: rgb(206, 202, 200); 
  font-size: 55px;
  font-family: sans-serif
}

.about {
  margin-left: 50px;
  padding-top: 250px;
}

.main {
  text-align: center;
  width: 100%;
  margin: 10px;
  /* margin-left: 250px;
  margin-right: 250px; */
  font-size: calc(15px + 1.5vw);
  color:  rgb(206, 202, 200);
}

.about-flex {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap
}

.about-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 250px;
  font-size: calc(30px + 1.5vw);
  color:  rgb(206, 202, 200);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.about-flex > hr {
  width: 100%;
  margin-top: 10px;
  display: none;
}

.text {
  text-align: center;
  font-size: calc(30px + 1.5vw);
  color:  rgb(206, 202, 200);
  margin: 50px;
}

.about-item:hover {
  font-size: calc(45px + 1.5vw);
  transition: width 2s;
}
    
/* #######################################################################

	Work

####################################################################### */


#s3 {
  height: 100vh;
}

.c {
  padding-top: 98px;
  margin-left: 100px;
}

.work-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgb(206, 202, 200);
  font-family: sans-serif;
  padding-top: 50px;
  text-shadow: 0 2px 0 rgba(110,133,156,0.18);
}

.work-head {
  text-align: center;
  width: 100%;
  font-size: calc(40px + 1.5vw);
}
#work-item {
  font-size: calc(5px + 1.5vw);
  padding: 0.85em;
  display: none;
}

li img {
  margin-top: 50px;
  width: 30%;
}

li:hover img {
  width: 50%;
  transition: ease-in-out 250ms;
}

/* #######################################################################

  Contact

####################################################################### */

#s4 {
  height: 100vh;
}

div.d {
flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin: 250px;
  color: rgb(206, 202, 200);
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 200px;
}

/* #######################################################################

	Navigation Bar

####################################################################### */

.flex-container2 {
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  background-color: #333;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
}

.flex-container2 > li {
  background-color:#333;
  width: 100px;
  margin: 10px;
  margin-right: 50px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

.flex-container2 > li:hover {
  background-color:rgba(78, 75, 75, 0.822)
}

ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: none; 
  font-family: serif
}

div.a {
  text-align: center;
  color: rgb(216, 212, 210);
  font-size: 30px;
  padding-top:98px;
  font-family: sans-serif
}

a:hover {
  color: white;
}

a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: grey;
  position: relative;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

a:hover::before {
  width: 100%;
}

.active {
  background-color: rgb(82, 82, 82);
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color:white
}